@import "./UsefulCSS.min.less";

/*
 ================== @font-face ==================
*/
.font-face("Technology", "Technology-Regular", normal, normal, "woff", Null, "ttf", "eot", "svg");
/*
 ================== Base ==================
*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
}
body, html {
    min-height: 100%;
}
body{
    background: url('../image/bg.jpg') transparent center no-repeat;
    background-size: cover;
    font-family: Tahoma, "Times New Roman", Arial, sans-serif !important;
}
input,
a,
span,
button,
textarea,
strong,
label{
    display: inline-block;
}
input:focus,
textarea:focus,
select:focus{
    outline-offset: 0;
}
li{
    list-style: none;
}
p,
ul,
ol,
dl{
    margin-bottom: 0;
}

/*
 ====================== mt-70 ======================
*/
.mt-70{
    margin-top: 70px;
    margin-bottom: 50px;
    background: #2F2F2F;
    border: 1px solid #262626;
    .border-radius(15px);
    .box-shadow(inset 0px 0px 8px rgba(0,0,0,0.5) ,0px 0px 20px rgba(0,0,0,0.7), 0px 0px 5px rgba(255,255,255,0.25););
}

/*
 ====================== calculator ======================
*/
#calculator{
    padding: 20px 5px;
    .user-select(none);
    font-family: 'Technology', sans-serif, Tahoma, "Times New Roman", Arial;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 4.5px;
    font-size: 2rem;
}


/*
 ====================== .LED ======================
*/
.LED{
    overflow: hidden;
    background: #efefef;
    font-size: 3.8rem;
    color: #434343;
    border: 3px solid #424142;
    line-height: normal;
    padding: 15px 12px 5px;
    .border-radius(10px);
    .box-shadow(inset 0px 0px 3px#d5d6d8, 0px 0px 2px rgba(213,214,216,.2););

    & #log{
        font-size: 2rem;
        color: #7e7e7e;
        padding-bottom: 10px;
    }

    & #LED-display{
        background: transparent;
        .text-shadow(0 0px 1px #434343);
        min-height: 77.6px;
        overflow-x: scroll;
        overflow-y: hidden;
        cursor: grab;
        white-space: nowrap;
    }
}

/*
 ====================== .buttons ======================
*/
.buttons{
    background: #494949;
    margin-top: 30px;
    .border-radius(10px);
    border: 1px solid #3e3e3e;
    padding: 15px 23px;
    text-align: center;

    & .row:not(:first-child){
        padding-top: 15px;
    }

    & .col{
        padding-right: 5px;
        padding-left: 5px;
    }

    & .calculator-btn{
        display: block;
        cursor: pointer;
        background: #505050;
        border: 1px solid rgba(0,0,0,0.6);
        color: rgba(233, 229, 225, 0.6);
        .border-radius(10% 10% 15% 15%, 20% 20% 70% 70%);
        .box-shadow(inset -1.5px 0.5px 2px rgba(116, 116, 116, 0.72), inset 1.5px 0px 2px #1c1b1b, inset -0.5px -2px 2px #1c1b1b, 0 0 7px #191919;);
        .transition(background, color 0.2s linear, box-shadow .1s ease;);

        &:hover{
            background: #5e5e5e; 
            color: rgba(233, 229, 225, 0.8);
            // for ckicked
            /*background: #3b3b3b;
            .box-shadow(inset 86.5px 0px 2px #1c1b1b, inset 0.5px -2px 2px #1c1b1b, 0 0 7px #191919;);
            color: #3a3a3a;*/
        }

        &#x2{
            font-size: 1.6rem;
            padding: 15px 0px 5.4px 8px;
            .border-radius(55% 20% 20% 20%);

            & sup{
                font-size: 1.1rem;
                top: -0.7em;
            }
        }

        &#square{
            font-size: 2.3rem;
            padding: 6.9px 0 1.5px 3px;
        }
       
        &.Parentheses{
            padding: 12px 0px 9.2px 4px;
            font-size: 1.5rem;
        }

        &#divide{
            .border-radius(20% 55% 20% 20%);
            font-size: 2.1rem;
            padding: 9.6px 0 2px 4px;
        }

        &#percentage{
            padding: 9px 0 5px 5px;
        }

        &.numbers,
        &#equal{
            padding: 8px 0 6px 3px;
        }

        &#multiplication{
            padding: 8.1px 0 3.5px 5px;
            font-size: 2.1rem;
        }

        &#plus-minus{
            padding: 8.5px 0 5.5px 4px;
        }
        &#minus{
            padding: 9px 0 5px 5px;
        }
    } //.calculator-btn

    & .last-row{
        & > .col:first-child{
            flex-grow: 4;
            flex-basis: 40px;
        }

        & .row{
            padding-right: 10px;
            padding-left: 10px;
        }

        & #plus{
            height: 100%;
            padding-top: 38px;
            padding-left: 5px;
        }
        & #c,
        & #ce{
            padding: 9px 0 5px 5px;
            background: #b51a1a;
            .box-shadow(inset -1.5px 0.5px 2px rgba(198, 92, 92, 0.62), inset 1.5px 0px 2px #ba3f3f, inset -0.5px -2px 2px rgba(128, 50, 50, 0.79), 0 0 7px #191919;);
            &:hover{
                background: #cb1212; 
                // for ckicked
                /*background: #690000;
                .box-shadow(inset 86.5px 0px 2px #400000, inset 0.5px -2px 2px #1c1b1b, 0 0 7px #191919;);
                color: #3a3a3a;*/
            }
        }
        & #dot{
            font-size: 3.5rem;
            padding: 17.2px 0 28px 5px;
            line-height: 1px;
        }

    }
}





