@import "./UsefulCSS.min.less";

/*
 ================== @font-face ==================
*/
.font-face("Technology", "Technology-Regular", normal, normal, "woff", Null, "ttf");
.font-face("Technology", "Technology-Bold", normal, bold, "woff", Null, "ttf");
/*
 ================== Base ==================
*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
}
body, html {
    min-height: 100%;
}
body{
    background: url('../image/bg.jpg') transparent center no-repeat;
    background-size: cover;
    font-family: Tahoma, "Times New Roman", Arial, sans-serif !important;
}
input,
a,
span,
button,
textarea,
strong,
label{
    display: inline-block;
}
input:focus,
textarea:focus,
select:focus{
    outline-offset: 0;
}
li{
    list-style: none;
}
p,
ul,
ol,
dl{
    margin-bottom: 0;
}

/*
 ====================== mt-70 ======================
*/
.mt-70{
    margin-top: 70px;
    margin-bottom: 50px;
    background: #2F2F2F;
    border: 1px solid #262626;
    .border-radius(15px);
    .box-shadow(inset 0px 0px 8px rgba(0,0,0,0.5) ,0px 0px 20px rgba(0,0,0,0.7), 0px 0px 5px rgba(255,255,255,0.25););
}

/*
 ====================== calculator ======================
*/
#calculator{
    padding: 20px 5px;
    .user-select(none);
    font-family: 'Technology', sans-serif, Tahoma, "Times New Roman", Arial;
    font-weight: bold;
    line-height: normal;
}


/*
 ====================== .LED ======================
*/
.LED{
    overflow: hidden;
    background: #efefef;
    font-size: 3.8rem;
    letter-spacing: 3px;
    color: #434343;
    border: 3px solid #424142;
    line-height: normal;
    padding: 70px 12px 5px;
    .border-radius(10px);
    .box-shadow(inset 0px 0px 3px#d5d6d8, 0px 0px 2px rgba(213,214,216,.2););

    & #led-display{
        background: transparent;
        
    }
}

/*
 ====================== .buttons ======================
*/
.buttons{
    background: #494949;
    margin-top: 30px;
    .border-radius(10px);
    border: 1px solid #3e3e3e;
    padding: 15px 23px;
    text-align: center;
    height: 300px;

    & .col-3{
        padding-right: 7px;
        padding-left: 7px;
    }

    & .calculator-btn{
        display: block;
        cursor: pointer;
        padding: 16px 8px;
        background: #505050;
        border: 1px solid rgba(0,0,0,0.6);
        color: rgba(233, 229, 225, 0.6);
        .border-radius(10% 10% 15% 15%, 20% 20% 70% 70%);
        .box-shadow(inset -1.5px 0.5px 2px rgba(116, 116, 116, 0.72), inset 1.5px 0px 2px #1c1b1b, inset -0.5px -2px 2px #1c1b1b, 0 0 7px #191919;);
        .transition(background, color 0.2s linear, box-shadow .1s ease;);

        &:hover{
            background: #5e5e5e; 
            color: rgba(233, 229, 225, 0.8);
            // for ckicked
            /*background: #3b3b3b;
            .box-shadow(inset 86.5px 0px 2px #1c1b1b, inset 0.5px -2px 2px #1c1b1b, 0 0 7px #191919;);
            color: #3a3a3a;*/
        }

        &.divide{
            .border-radius(22% 55% 22% 30%);
        }

    }
}





