@import "./UsefulCSS.min.less";

/*
 ================== Base ==================
*/
body, html {
    min-height: 100%;
}
body{
    background: url('../image/bg.jpg') transparent center no-repeat;
    background-size: cover;
}

/*
 ====================== mt-70 ======================
*/
