/*
 ================== @font-face ==================
*/
@font-face {
  font-family: "digital-7";
  font-style: normal;
  font-weight: normal;
  src: local('digital-7'), local('digital'), url('../fonts/digital-7/digital.woff') format('woff'), url('../fonts/digital-7/digital.ttf') format('truetype');
}
/*
 ================== Base ==================
*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}
body,
html {
  min-height: 100%;
}
body {
  background: url('../image/bg.jpg') transparent center no-repeat;
  background-size: cover;
  font-family: Tahoma, "Times New Roman", Arial, sans-serif !important;
}
input,
a,
span,
button,
textarea,
strong,
label {
  display: inline-block;
}
input:focus,
textarea:focus,
select:focus {
  outline-offset: 0;
}
li {
  list-style: none;
}
p,
ul,
ol,
dl {
  margin-bottom: 0;
}
/*
 ====================== mt-70 ======================
*/
.mt-70 {
  margin-top: 70px;
  margin-bottom: 50px;
  background: #2F2F2F;
  border: 1px solid #262626;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.7), 0px 0px 5px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.7), 0px 0px 5px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 0px 20px rgba(0, 0, 0, 0.7), 0px 0px 5px rgba(255, 255, 255, 0.25);
}
/*
 ====================== calculator ======================
*/
#calculator {
  padding: 12px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#calculator input {
  font-family: 'digital-7', sans-serif, Tahoma, "Times New Roman", Arial;
  font-weight: bold;
  line-height: normal;
}
#calculator #led-display {
  width: 100%;
  background: #efefef;
  cursor: default;
  display: block;
  padding: 60px 12px 10px;
  font-size: 3.75rem;
  letter-spacing: 2.5px;
  color: transparent;
  caret-color: #646464;
  border: 3px solid #424142;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  -webkit-box-shadow: inset 0px 0px 3px #d5d6d8, 0px 0px 2px rgba(213, 214, 216, 0.2);
  -moz-box-shadow: inset 0px 0px 3px #d5d6d8, 0px 0px 2px rgba(213, 214, 216, 0.2);
  box-shadow: inset 0px 0px 3px #d5d6d8, 0px 0px 2px rgba(213, 214, 216, 0.2);
  text-shadow: 0 0 0 #454545, 0 1px 1px #fff;
}
#calculator #led-display::-moz-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: transparent;
}
#calculator #led-display::selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: transparent;
}
